<p>Привет, <%=  @user.email %></p>
<p>Вы подписаны на обновления по посту "<%= link_to @post.title, @post %>" оставлен комментарий:</p>
<p><%= @comment.body%></p>
<p>Все посты вы можете посмотреть  "<%= link_to 'здесь', posts_url %>"</p>