<p><%= comment.body %>
  <% if user_signed_in? %>
  <% if comment.user_id == current_user.id || current_user.admin?%>
<br>
    <%= link_to t('common.update'), edit_comment_path(comment) %>
 || <%= link_to t('common.delete'), comment, method: :delete %>
    <% end %>
  <% end %>
</p>