<p><%= comment.body %>
  <% if user_signed_in? %>
  <% if comment.user_id == current_user.id %>
<br>
    <%= link_to 'Изменить', edit_comment_path(comment) %>
 || <%= link_to 'Удалить', comment, method: :delete %>
    <% end %>
  <% end %>
</p>