<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<%= link_to 'Изменить', edit_comment_path(@comment) %> |
<%= link_to 'Назад', post_path(@comment.post) %> |
